$main-bg: #c0c1c7;
$header-bg: #423b6d;
$header-height: 60px;

body,
body * {
  box-sizing: border-box;
  font-family: monospace;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  background: $header-bg;
  .header {
    height: $header-height;
    background: $main-bg;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    #news-search {
      border: 0px;
      font-size: 20px;
      border-radius: 50px;
      padding: 10px 20px;
      width: 400px;
      background: purple;
      color: yellow;
      &:focus {
        outline: none;
      }
    }
  }
  .news {
    height: calc(100% - #{$header-height});
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-start;
    .article {
      background: $header-bg;
      margin: 10px;
      border-radius: 20px;
      color: yellow;
      width: 400px;
      overflow: hidden;
      .img {
        img {
          width: 100%;
          border-radius: 10px 10px 0 0;
          object-fit: cover;
        }
      }
      .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        padding: 0 10px;
        .source {
          background: $main-bg;
          padding: 2px 5px;
          border-radius: 5px;
        }
      }
    }
  }
}
